<% unless User.current.login == '' %>
  <% unless @board.nil? || @board[:id].nil? || @topic.nil? || @topic.id.nil? %>
    <div id="vote" class="vote-area" data-board="<%=@board.id%>" data-topic="<%=@topic.id%>">
      <div><%=l(:label_vote_count)%>: <span class="vote-point-total">-</span></div><hr />
      <div class="vote-block">
        <a class="vote-button disabled" href="#" data-point="1" title="<%=l(:label_vote_like)%>">
          <div>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="32px" height="32px" viewBox="0 0 126 126" enable-background="new 0 0 126 126" xml:space="preserve">
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M100.515,100.512
                c20.686-20.684,20.684-54.341,0.002-75.024C79.829,4.799,46.17,4.799,25.486,25.483C4.798,46.169,4.8,79.829,25.488,100.517
                C46.17,121.201,79.829,121.201,100.515,100.512z M31.273,31.27c17.494-17.493,45.959-17.495,63.457,0.002
                c17.494,17.494,17.492,45.962-0.002,63.455c-17.494,17.494-45.961,17.496-63.455,0.002C13.775,77.233,13.777,48.764,31.273,31.27z
                 M68.828,51.641c0-4.797,3.904-8.701,8.703-8.701c4.797,0,8.701,3.903,8.701,8.701c0,1.381-1.119,2.5-2.5,2.5s-2.5-1.119-2.5-2.5
                c0-2.041-1.66-3.701-3.701-3.701c-2.042,0-3.703,1.66-3.703,3.701c0,1.381-1.119,2.5-2.5,2.5S68.828,53.021,68.828,51.641z
                 M41.105,51.614c0-4.797,3.904-8.701,8.703-8.701c4.797,0,8.701,3.903,8.701,8.701c0,1.381-1.119,2.5-2.5,2.5s-2.5-1.119-2.5-2.5
                c0-2.041-1.66-3.701-3.701-3.701c-2.042,0-3.703,1.66-3.703,3.701c0,1.381-1.119,2.5-2.5,2.5S41.105,52.995,41.105,51.614z
                 M39.996,73.965c-0.636-1.53,0.089-3.286,1.62-3.921c0.376-0.156,0.766-0.23,1.15-0.23c1.176,0,2.292,0.696,2.771,1.85
                c2.777,6.685,9.655,11.004,17.523,11.004c7.69,0,14.528-4.322,17.421-11.011c0.658-1.521,2.424-2.222,3.944-1.563
                c1.521,0.658,2.22,2.423,1.563,3.944c-3.843,8.887-12.843,14.629-22.928,14.629C52.759,88.668,43.706,82.897,39.996,73.965z"/>
            </svg>
          </div>
          <div><%=l(:label_vote_like)%></div>
          <div class="vote-point"></div>
        </a>
      </div>
      <div class="vote-block">
        <a class="vote-button disabled" href="#" data-point="0" title="<%=l(:label_vote_normal)%>">
          <div>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="32px" height="32px" viewBox="0 0 126 126" enable-background="new 0 0 126 126" xml:space="preserve">
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M100.515,100.512
                c20.686-20.684,20.684-54.341,0.002-75.024C79.828,4.799,46.169,4.799,25.485,25.483C4.798,46.169,4.8,79.829,25.487,100.517
                C46.169,121.201,79.828,121.201,100.515,100.512z M31.272,31.27c17.493-17.493,45.959-17.495,63.457,0.002
                c17.494,17.494,17.492,45.962-0.002,63.455c-17.494,17.494-45.962,17.496-63.455,0.002C13.774,77.233,13.776,48.764,31.272,31.27z"
                />
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M85.609,81
                c0-1.921-1.558-3.478-3.479-3.478H43.872c-1.921,0-3.479,1.557-3.479,3.478s1.558,3.478,3.479,3.478h38.259
                C84.052,84.478,85.609,82.921,85.609,81z"/>
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M41.686,57.08
                c0.279,0.13,0.622,0.09,0.858-0.1l9.758-7.697c0.193-0.154,0.304-0.388,0.304-0.641s-0.11-0.486-0.308-0.645l-9.755-7.695
                c-0.144-0.113-0.324-0.175-0.507-0.175c-0.122,0-0.246,0.027-0.358,0.082c-0.279,0.135-0.46,0.425-0.46,0.738V44.5
                c0,0.181,0.084,0.35,0.225,0.462l4.664,3.681l-4.664,3.68c-0.141,0.112-0.225,0.282-0.225,0.463v3.554
                C41.218,56.652,41.392,56.935,41.686,57.08z"/>
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M83.4,56.98
                c0.143,0.113,0.323,0.175,0.506,0.175c0.122,0,0.246-0.027,0.359-0.082c0.279-0.135,0.459-0.425,0.459-0.738v-3.552
                c0-0.181-0.083-0.35-0.225-0.462l-4.664-3.681l4.664-3.68c0.142-0.112,0.225-0.282,0.225-0.463v-3.554
                c0-0.313-0.174-0.596-0.467-0.741c-0.279-0.13-0.622-0.09-0.859,0.1L73.642,48c-0.193,0.154-0.305,0.388-0.305,0.641
                s0.111,0.486,0.309,0.645L83.4,56.98z"/>
            </svg>
          </div>
          <div><%=l(:label_vote_normal)%></div>
          <div class="vote-point"></div>
        </a>
      </div>
      <div class="vote-block">
        <a class="vote-button disabled" href="#" data-point="-1" title="<%=l(:label_vote_dislike)%>">
          <div>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="32px" height="32px" viewBox="0 0 126 126" enable-background="new 0 0 126 126" xml:space="preserve">
              <path stroke="#6D6E70" stroke-width="0" stroke-linecap="round" stroke-linejoin="round" d="M100.517,25.488
                C79.829,4.799,46.17,4.799,25.486,25.483C4.798,46.169,4.8,79.829,25.488,100.517c20.682,20.684,54.341,20.684,75.027-0.004
                C121.201,79.829,121.199,46.171,100.517,25.488z M94.728,94.728c-17.494,17.494-45.961,17.496-63.455,0.002
                c-17.498-17.497-17.496-45.966,0-63.46c17.494-17.493,45.959-17.495,63.457,0.002C112.224,48.766,112.222,77.235,94.728,94.728z
                 M86.988,83.971c0.658,1.521-0.042,3.287-1.563,3.944c-1.521,0.66-3.286-0.042-3.944-1.563c-2.893-6.689-9.731-11.011-17.421-11.011
                c-7.868,0-14.747,4.319-17.523,11.004c-0.479,1.154-1.596,1.85-2.771,1.85c-0.384,0-0.773-0.074-1.15-0.23
                c-1.53-0.636-2.255-2.392-1.62-3.921c3.71-8.932,12.764-14.703,23.064-14.703C74.145,69.342,83.145,75.084,86.988,83.971z
                 M43.211,48.641c0-3.423,2.777-6.201,6.201-6.201c3.423,0,6.2,2.777,6.2,6.201c0,3.426-2.777,6.203-6.2,6.203
                C45.988,54.844,43.211,52.067,43.211,48.641z M71.328,48.641c0-3.423,2.78-6.201,6.203-6.201c3.423,0,6.201,2.777,6.201,6.201
                c0,3.426-2.777,6.203-6.201,6.203C74.108,54.844,71.328,52.067,71.328,48.641z"/>
            </svg>
          </div>
          <div><%=l(:label_vote_dislike)%></div>
          <div class="vote-point"></div>
        </a>
      </div>
    </div>
    <label id="label_vote_count" style="display:none"><%=l(:label_vote_count)%></label>
  <% end %>
  <input type="hidden" id="vote-base-url" value="<%=url_for :controller => 'welcome' %>" />
<% end %>